{% extends 'base.html' %}

{% block title %}Sélection de la session{% endblock %}

{% block content %}
<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2><a href="{{ session.get_absolute_url }}">{{ session }}</a>: {{ category }}</h2>
</div>
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <ul class="list-group">
        {% for checklist in checklists %}
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <a href="{% url 'session_checklist' session=session.slug slug=checklist.slug %}">{{ checklist }}</a>
            <span class="badge badge-primary badge-pill">{{ checklist.checked_boxes }}/{{ checklist.total_boxes }}</span>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

