
{% extends 'base.html' %}

{% block title %}Sélection de la session{% endblock %}

{% block content %}
<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2><a href="{{ session.get_absolute_url }}">{{ session }}</a>: {{ checklist }}</h2>
</div>
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <ul class="list-group">
        {% for checkbox in checkboxes %}
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {% if checkbox.answer.value == 'ch' %}list-group-item-info{% elif checkbox.answer.value == 'na' %}list-group-item-secondary{% endif %}">
                <div class="row w-100">
                    <div class="col-1">
                        <input type="checkbox" class="checklist_cbox" name="{{ checkbox.slug }}" {% if checkbox.answer.value == 'ch' %}checked="checked"{% elif checkbox.answer.value == 'na' %}disabled="disabled"{% endif %} />
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <p><strong>{{ checkbox }}</strong></p>
                        </div>
                        <div class="row">
                            {% if checkbox.description %}<p class="small">{{ checkbox.description }}</p>{% endif %}
                        </div>
                    </div>
                    <div class="col-4">
                        <textarea name="{{ checkbox.slug }}_comment">{{ checkbox.answer.comment }}</textarea>
                    </div>
                </div>
        </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

/html>
