{% extends 'base.html' %}

{% block title %}Sélection de la session{% endblock %}

{% block content %}
<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2>{{ session }}</h2>
</div>
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    {% for category in categories %}
        <h3>
            <a href="{% url 'session_category' session=session.slug slug=category.slug %}">{{ category }}</a>
            <span class="badge badge-primary badge-pill">{{ category.checked_boxes }}/{{ category.total_boxes }}</span>
        </h3>
        <ul class="list-group">
        {% for checklist in category.checklists %}
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <a href="{% url 'session_checklist' session=session.slug slug=checklist.slug %}">{{ checklist }}</a>
            <span class="badge badge-primary badge-pill">{{ checklist.checked_boxes }}/{{ checklist.total_boxes }}</span>
        </li>
        {% endfor %}
        </ul>
    {% endfor %}
    </div>
</div>
{% endblock %}

