{% extends 'base.html' %}

{% block title %}Sélection de la session{% endblock %}

{% block content %}
<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2>Sessions disponibles</h2>
</div>
<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto">
        <ul class="list-group">
        {% for session in session_list %}
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                <a href="{{ session.get_absolute_url }}">{{ session }}</a>
                <span class="badge badge-primary badge-pill">{{ session.checked_boxes }}/{{ session.total_boxes }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
