<template>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Check</span>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title"Check</span>
      <nav class="mdl-navigation">
        <router-link class="mdl-navigation__link" to="/">Home</router-link>
        <router-link class="mdl-navigation__link" to="/post">Meh</router-link>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <transition :name="transitionName" mode="out-in">
          <router-view></router-view>
        </transition>
      </div>
    </main>
  </div>
</template>

<script>
require('material-design-lite')
require('material-design-icons')
export default {
  name: 'app',
  data () {
    return {
      transitionName: 'slide-left'
    }
  },
  watch: {
    '$route' (to, from) {
      const toDepth = to.path.split('/').length
      const fromDepth = from.path.split('/').length
      this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
    }
  }
}
</script>

<style>
@import url('/static/css/material.cyan-pink.min.css');
@import url('/static/css/material-icons.css');
.slide-left-enter, .slide-right-leave-active {
  transition: all .5s cubic-bezier(.55,0,.1,1);
  opacity: 0;
  -webkit-transform: translate(3em, 0);
  transform: translate(3em, 0);
}
.slide-left-leave-active, .slide-right-enter {
  transition: all .5s cubic-bezier(.55,0,.1,1);
  opacity: 0;
  -webkit-transform: translate(-3em, 0);
  transform: translate(-3em, 0);
}
</style>
