<template>
  <li class="mdl-list__item mdl-list__item--three-line"
  :key="check.id" :class="[check.checked ? 'mdl-color--green-100' :
  '', check.na ? 'mdl-color--grey-400' : '']"
  @click="toggleCheck(check, $event)"
  @pointerenter="mouseOnItem = true"
  @pointerleave="mouseOnItem = false">
    <span class="mdl-list__item-primary-action">
      <mdl-checkbox v-model="check.checked"
      class="mdl-js-riple-effect" :disabled="check.na"></mdl-checkbox>
    </span>
    <span class="mdl-list__item-primary-content">
      <span>{{ check.title }}</span>
      <span v-if="!editingComment"class="mdl-list__item-text-body">{{check.comment }}
        <mdl-button @click.native="toggleComment(check)" v-if="mouseOnItem"
          icon="edit">
          <i class="material-icons">edit</i>
        </mdl-button>
      </span>
      <span v-if="editingComment" class="comment-edit mdl-list__item-text-body">
        <form @submit.prevent="toggleComment(check)">
          <mdl-textfield v-model="check.comment"></mdl-textfield>
          <mdl-button colored icon="check"><i class="material-icons">check</i></mdl-button>
        </form>
      </span>
    </span>
    <span class="mdl-list__item-secondary-action">
      <mdl-button mini-fab @click.prevent :id="'menu-' + check.id" icon>
        <i class="material-icons">more_vert</i>
      </mdl-button>
      <ul is="mdl-menu" :for="'menu-' + check.id">
        <li class="mdl-menu__item"
        @click.prevent="toggleComment(check)">Comment</li>
        <li class="mdl-menu__item" v-if="!check.na"
        @click.prevent="disableCheck(check)">Disable</li>
        <li class="mdl-menu__item" v-if="check.na"
        @click.prevent="enableCheck(check)">Enable</li>
      </ul>
    </span>
  </li>
</template>

<script>
export default {
  name: 'check-item',
  methods: {
    enableCheck: function (check) {
      this.$store.commit('enableItem', check.id)
    },
    disableCheck: function (check) {
      this.$store.commit('disableItem', check.id)
    },
    toggleCheck: function (check, event) {
      if (event.target.tagName === 'BUTTON' ||
        event.target.classList.contains('mdl-menu__item') ||
        event.target.tagName === 'INPUT') {
        return
      }
      if (check.na) return
      if (check.checked) this.$store.commit('uncheckItem', check.id)
      else this.$store.commit('checkItem', check.id)
    },
    toggleComment: function (check) {
      this.editingComment = !this.editingComment
    }
  },
  data () {
    return {
      editingComment: false,
      mouseOnItem: false
    }
  },
  props: ['check']
}
</script>
<style scoped>
</style>


