<template>
  <div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
          <h2>{{ session.title }}: {{ checkList.title }}</h2>
          <router-link :to="{name: 'session', params: {id: this.$route.params.id}}">Back</router-link>
          <ul class="mdl-cell mdl-cell--12-col mdl-list checklist">
            <check-item v-for="check in items" :check="check" :key="check.id"></check-item>
          </ul>
      </div>
    </div>
    <router-link class="add-picture-button mdl-button mdl-js-button
                        mdl-button--fab mdl-button--colored" to="/add">
      <i class="material-icons">add</i>
    </router-link>
  </div>
</template>

<script>
import CheckItem from './CheckItem.vue'
export default {
  name: 'checklist',
  components: {
    CheckItem
  },
  methods: {
  },
  data () {
    return {
    }
  },
  computed: {
    session: function () {
      return this.$store.getters.getSession(this.$route.params.id)
    },
    checkList: function () {
      return this.$store.getters.getList(this.$route.params.id2)
    },
    items: function () {
      return this.$store.getters.getListItems(this.checkList)
    }
  }
}
</script>
<style scoped>
  .add-picture-button {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 998;
  }
  .mdl-list__item:not(.mdl-color--grey-400):not(textarea) {
    cursor: pointer;
  }
</style>

