<template>
  <div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--3-col mdl-cell mdl-cell--1-col-tablet mdl-cell--hide-phone"></div>
        <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone">
          <h2>Sessions list</h2>
          <table class="mdl-cell mdl-cell--12-col mdl-data-table
              mdl-js-data-table mdl-shadow--2dp sessions-table">
            <tbody>
                <tr v-for="sess in sessions" @click="selectSession(sess.id)"
                  :class="[sess.curChecks == sess.totalChecks ?
                  'mdl-color--grey-300' : '']">
                    <td>{{ sess.title }}</td>
                    <td class="mdl-data-table__cell--numeric">
                      <span class="mdl-chip"
                        :class="sess.curChecks == sess.totalChecks ?
                        ['mdl-color--light-green', 'mdl-badge',
                        'mdl-badge--overlap'] : []" :data-badge="sess.curChecks
                        == sess.totalChecks ? '√': ''">
                          'mdl-color--light-green' : '']">
                          <span class="mdl-chip__text">
                            {{ sess.curChecks }} / {{ sess.totalChecks }}
                        </span>
                      </span>
                    </td>
                </tr>
            </tbody>
          </table>
      </div>
    </div>
    <router-link class="add-picture-button mdl-button mdl-js-button
                        mdl-button--fab mdl-button--colored" to="/add">
      <i class="material-icons">add</i>
    </router-link>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'home',
  methods: {
    selectSession: function (id) {
      this.$router.push({name: 'session', params: {id: id}})
    }
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters({
      sessions: 'getSessions'
    })
  }
}
</script>
<style scoped>
  .sessions-table tr {
    cursor: pointer;
  }
  .add-picture-button {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 998;
  }
</style>
