{% load staticfiles%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{% static 'checklists/favicon.png' %}">

        <!-- Bootstrap core CSS -->
        <link href="{% static 'checklists/css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{% static 'checklists/css/main.css' %}" rel="stylesheet">
        <title>{% block title %}{% endblock %} | Check</title>
    </head>
    <body>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h5 class="my-0 mr-md-auto font-weight-normal"><a href="{% url 'home' %}">Check</a></h5>
            <nav class="my-2 my-md-0 mr-md-3">
            </nav>
            {% if user.is_authenticated %}
            <a class="btn btn-outline-primary" href="{% url 'logout' %}">Déconnexion</a>
            {% endif %}
        </div>

        {% block content %}{% endblock %}
        <script src="{% static 'checklists/js/jquery.min.js' %}"></script>
        <script src="{% static 'checklists/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'checklists/js/main.js' %}"></script>
    </body>
</html>
